.article-container {
    width: 600px;
    margin: 30px auto;
    border-radius: 9px;
    box-shadow: 0 0 3px 1px #ededed;
    background: #fefefe;
    color: #333;
}

.article-source {
    display: inline-block;
    float: left;
    font-weight: 600;
    font-size: .85em;
    color: #fff;
    background: #2196f3;
    padding: 7px 15px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.article-date {
    display: inline-block;
    padding: 10px 20px;
    float: right;
    font-weight: 600;
    font-size: .85em;
    color: #9a9a9a;
}

.article-title {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 5px 20px;
    padding-bottom: 0;
    color: #2173b5;
}

.article-description {
    font-weight: 300;
    padding: 2px 20px;
    font-size: .85em;
}

.article-author {
    display: inline-block;
    padding: 10px 20px 15px 20px;
    float: left;
    font-size: .9em;
    text-transform: capitalize;
}

.author-icon {
    width: 20px;
    margin-bottom: -4px;
}

.article-url {
    display: inline-block;
    padding: 10px 20px 15px 20px;
    float: right;
    font-weight: 600;
    font-size: .85em;
}

.article-url a, .article-author a {
    text-decoration: none;
    font-weight: bold;
    color: #2173b5;
}