
.theme-container {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 1em;
  left: 2em;    
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px 0px #ccc;
  border-radius: 30px;
  overflow: hidden;
  animation: lightBackground 1s;
}

.theme-container-dark{
  width: 100px;
  height: 50px;
  position: absolute;
  top: 1em;
  left: 2em;    
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px 0px #ccc;
  border-radius: 30px;
  overflow: hidden;
  background: #1e1e1e;
  animation: darkBackground 1s;
}

.theme-button {
  width: 30px;
  height: 30px;
  background: #3f3f3f;
  box-shadow:0px 0px 1px 1px #b3b3b3;   
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  left: 0;
  animation: darkTheme 1s;
}

.theme-button-light {
  width: 30px;
  height: 30px;
  background: #3f3f3f;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  left: 50px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px #cacaca;
  animation: lightTheme 1s;
}

@keyframes lightTheme{
  from{
      left: 0;
      background: #3f3f3f;
  } 
  to{
      left: 50px;
      background: #fff
  }
}

@keyframes darkTheme{
  from{
      left: 50px;
      background: #fff
  } 
  to{
      left: 0;
      background: #3f3f3f;

  }
}

@keyframes darkBackground {
  from{
    background: #fff
  } 
  to{
    background: #3f3f3f;
  }
}

@keyframes lightBackground {
  from{
    background: #3f3f3f
  } 
  to{
    background: #fff;
  }
}