.news-container {
    text-align: center
}

.no-articles {
    width: 500px;
    margin: 4em auto;
    background: #fdfdfd;
    border: 1px solid #eaeaea;
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
    color: #888;
    font-weight: 600;
    letter-spacing: .7px;
    border-radius: 5px;
}

.articles, .article-preview-container {
    display: inline-block;
    position: relative;
}

.articles {
    text-align: left;
}

.hide {
    display: none;
}

.dark-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.article-preview-container {
    width: 800px;
    max-width: 90%;
    background: #fdfdfd;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 12em 1em #a5a5a536;
    position: fixed;
    left: 50%;
    top: 8%;
    transform: translate(-50%, 0);
}

.close-button {
    position: absolute;
    top: 7px;
    right: 13px;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
    color: red;
    margin-top: -39px;
    cursor: pointer;
}

.preview-img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.preview-img {
    width: 100%;
}

.preview-author {
    display: inline-block;
    padding: 10px 20px 15px 20px;
    float: left;
    font-size: .9em;
    text-transform: capitalize;
}

.preview-author a {
    text-decoration: none;
    color: #3f3f3f;
    font-weight: bold;
}

.preview-date {
    display: inline-block;
    padding: 10px 20px;
    float: right;
    font-weight: 600;
    font-size: .85em;
    color: #9a9a9a;
}

.preview-title {
    font-size: 1.9em;
    padding: 40px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    text-align: left;
}

.preview-content {
    width: 500px;
    text-align: left;
    margin: 0 auto;
    max-width: 95%;
    font-size: 1.25em;
    font-weight: 400;
    font-family: Helvetica;
    letter-spacing: .5px;
    word-spacing: 2px;
    line-height: 45px;
}

.preview-link {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #2173b5;
}

.preview-source {
    text-align: left;
    padding: 10px 20px;
    background: #f7f7f7;
    color: #676767;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 3em;
}