@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');



body {
    font-family: Lato, Helvetica, sans-serif;
}

input:focus, button:focus {
    outline: none;
}

.App {
    margin-bottom: 20em;
}

.app-title {
  text-align: center;
  font-weight: 100;
  font-size: 1.8em;
  font-family: Lato;
  letter-spacing: 2px;
  word-spacing: 6px;
  color: #444;
}

input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/* L o a d e r s*/
/* loader 1 */
.loader-container{
    background: rgba(255, 255, 255, 0);
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border: 4px solid #e4e4e49c;
  border-left: 4px solid #fff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
