@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');



body {
    font-family: Lato, Helvetica, sans-serif;
}

input:focus, button:focus {
    outline: none;
}

.App {
    margin-bottom: 20em;
}

.app-title {
  text-align: center;
  font-weight: 400;
  font-size: 1.2em;
  font-family: Lato;
  letter-spacing: 2px;
  word-spacing: 6px;
  color: #676767;
  margin-top: 2.3em;
  cursor: default;
}

input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

